body {
  margin: 0%;
}

header {
  text-align: center;
}
.top-header {
  box-shadow: 0px 1px #81f8b8;
}
.rainydays_logo {
  max-width: 100px;
}

.icons {
  display: flex;
  position: absolute;
  top: 10px;
  right: 2%;
  margin: 10px 10px;
  list-style-type: none;
  color: #0b3a40;
}

.icons a {
  border-radius: 50%;
  color: #0b3a40;
  padding: 15px 15px;
}
.home-icon {
  display: none;
}
.search-bar {
  position: absolute;
  top: 10px;
  right: 200px;
  margin: 10px 10px;
  list-style-type: none;
  color: #0b3a40;
}

nav li {
  display: inline-block;
  font-size: 30px;
  font-weight: bold;
}

nav a {
  color: #0b3a40;
  text-decoration: none;
  padding: 20px;
}

nav a:hover,
.icons a:hover {
  color: #81f8b8;
  transition: 0.6s;
}
.active {
  color: #81f8b8;
}

#hamburger-menu,
.hamburger-label {
  display: none;
}
.shop-cart {
  display: none;
  position: fixed;
  top: 40px;
  right: 30px;
  max-width: 500px;
  min-width: 150px;
  padding: 20px;
  border: 1px solid green;
  border-radius: 5px;
  background-color: white;
  z-index: 1000;
}
.cart-image {
  max-width: 40px;
  border-radius: 5px;
}

h1 {
  font-family: Helvetica, sans-serif;
  color: #0b3a40;
  font-size: 25px;
}
h2 {
  color: black;
  font-size: 20px;
}

.banner,
.exclusive,
.winter-sale {
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  min-height: 300px;
  margin: 10px;
  border-radius: 10px;
}
.banner {
  width: 100%;
  background-image: url("../images/banner.jpg");
}
.advert {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
}
.advert-element,
.banner {
  display: flex;
  max-width: 100%;
  min-height: 250px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin: 10px;
}
.advert-element p,
.banner p {
  background-color: rgb(255, 255, 255, 0.6);
  padding: 20px 100px;
  border-radius: 5px;
}
.advert a,
a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}
.winter-sale {
  background-image: url("../images/winter-sale.jpg");
}
.exclusive {
  background-image: url("../images/exclusive.jpg");
}

.cta-button {
  width: 100px;
  background-color: #0367a6;
  border-radius: 20px;
  color: white;
  padding: 8px;
  text-decoration: none;
  margin: 20px auto;
  font-size: 15px;
}

.cta-add-to-cart {
  float: right;
  background-color: #0b3a40;
  text-align: center;
  margin: 20px 10px;
}

.cta-buy {
  background-color: #0b3a40;
  color: white;
  border-radius: 30px;
  width: 70px;
  min-height: 30px;
  position: relative;
  top: 20px;
  right: 30px;
}

.section-featured,
.section-men,
.section-women,
.section-favorite {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  row-gap: 30px;

  justify-items: center;
}
.featured-products:hover,
.banner:hover,
.exclusive:hover,
.winter-sale:hover {
  box-shadow: 5px 5px 5px #bebebe, -10px -10px 40px #ffffff;
  transition: 0.3s;
}
.featured-products {
  width: 280px;
  height: 490px;
  margin: 20px 5px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 0px#5ecb90;
}

.image1 {
  max-width: 280px;
  height: 400px;
  border-radius: 10px 10px 0px 0px;
}

.featured-products-detail {
  display: grid;
  grid-template-columns: 85% 25%;
  padding: 4px 3px 0px 10px;
}
.featured-products-detail h2,
p {
  margin: 0px 0px 0px 0px;
}

.company-offers {
  display: flex;
  margin: 5px;
  background-color: #dae1eb;
  justify-content: center;
  border-radius: 30%;
}
.company-offers p {
  padding: 10px 50px;
}

.footer-box {
  display: flex;
  background-color: #a3cdd9;
  color: black;
}
.footer-box > * {
  flex: 1;
}
.footer-box {
  padding: 10px 50px;
}
.signup-input {
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 30px;
  background-color: darkgrey;
}

.signup-input:hover {
  background-color: lightgrey;
}
.paragraf {
  max-width: 1000px;
  position: absolute;
  text-align: center;
  top: 300px;
  left: 150px;
  font-size: 20px;
}

.footer-p {
  padding-left: 10px;
  margin: 5px;
  border-radius: 10px;
}
footer ul {
  padding: 0px auto;
  line-height: 30px;
  list-style-type: none;
}

footer ul li a {
  text-decoration: none;
  color: blue;
}
footer ul li a:hover {
  width: 10px;
  color: white;
  transition: 0.3s;
}
footer h2 {
  margin: 5px 25px;
  color: black;
}

/* Specific product Page */

.pro-display {
  display: flex;
  margin: 20px auto 120px;
  padding: 10px;
}
.pro-display > * {
  flex: 1;
}
.product-image {
  width: 100%;
  box-shadow: 0px 1px 1px 1px #81f8b8;
  border-radius: 5px;
}
.pro-display_thumbnails {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  border-radius: 5px;
}

.pro-display_details {
  margin: 0px 20px;

  text-align: center;
  box-shadow: 0px 1px 1px 1px #81f8b8;
  border-radius: 10px;
}
.pro-display_info {
  border: #f2f2f2 solid 3px;
  border-radius: 20px;
  margin: 30px;
}
.filter-dropdown {
  width: 100px;
  height: 30px;
  border-color: #81f8b8;
  color: green;
  margin: 20px 10px;
}

/*About*/

.about-paragraf {
  min-height: 500px;
  font-size: 20px;
  line-height: 50px;
  margin-bottom: 180px;
}

/* Terms Of Purchase*/

.terms-head {
  text-align: center;
}
.terms-paragraf {
  max-width: 1000px;
  text-align: center;
  line-height: 30px;
  font-size: 20px;
  margin: 30px auto;
  padding: 10px;
  box-shadow: 0px 1px 1px 1px #81f8b8;
  border-radius: 5px;
}
/* Contact*/

.contact-style {
  display: flex;
  max-width: 100%;
}
.contact-decoration {
  margin: 10% auto;
  padding: 20px 50px;
  box-shadow: 0px 1px 1px 1px #81f8b8;
  border-radius: 5px;
  text-align: center;
}

.contact-decoration input,
.contact-decoration textarea {
  margin: 10px auto;
}
.map-image {
  max-width: 300px;
}

.validation-error {
  display: none;
  color: red;
  text-align: center;
}
#success {
  background-color: white;
  border: 2px solid green;
  border-radius: 5px;
  margin: 0px auto;
  padding: 5px;
  color: green;
  font-size: 20px;
}

/* Men Page*/

.filter-style {
  text-align: center;
  padding: 10px;
}

/*women page */
.featured-products-women {
  display: float;
}

/* Shopping-cart Style */

.shoppingcart-style {
  display: flex;
  margin-bottom: 50%;
}
.shoppingcart-sec-decoration {
  max-width: 100%;
  margin: 30px auto 10px auto;
  padding: 10px;
  box-shadow: 0px 2px 2px 2px #81f8b8;
  border-radius: 10px;
}
.shoppingcart-elements {
  display: flex;
  flex-direction: column;
}
.cart-thumbnail {
  max-width: 150px;
  border-radius: 5px;
  margin: 10px 100px;
}
.shoppingcart-shipment-elements {
  margin: 30px 0px;
}

.shoppingcart-shipment-elements img {
  width: 40px;
}

/* Delivery and Payment page*/
.delivery {
  display: flex;
  max-width: 1280px;
  margin: 10px auto 16%;
}
.delivery-section {
  max-width: 400px;
  margin: 20px auto;
  padding: 10px;
  box-shadow: 0px 1px 1px 1px #81f8b8;
  border-radius: 5px;
}

.delivery-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  min-height: 25px;
  border: grey solid 1px;
  border-radius: 30px;
  margin: 5px 0px;
}

.delivery-section textarea {
  border-radius: 10px;
}
.delivery-order {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 30px;
  background-color: #f2f2f2;
  border-radius: 10px;
}
.delivery-order p {
  margin: 10px auto;
}
.delivery-section p {
  text-align: center;
  margin: 20px;

  border-radius: 5px;
}
.payment-card-icons img {
  width: 40px;
  height: 30px;
}
.payment-card-icons {
  display: flex;
}

/* Purchase Page */
.purchase-main {
  max-width: 800px;
  margin: 30px auto 150px auto;
}
.purchase-conformation {
  text-align: center;
}

.purchase-section {
  display: flex;
  box-shadow: 0px 1px 1px 1px #81f8b8;
  padding: 10px;
  border-radius: 5px;
}
.purchase-section a {
  margin-left: 70px;
}
.purchase-order-elements {
  display: flex;
}

.purchase-order {
  margin: auto;
  background-color: #f2f2f2;
  border-radius: 10px;
  padding: 40px;
  line-height: 35px;
}

.purchase-order-summery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.purchase-order-summery div {
  margin: 10px;
}
.purchase-order-summery img,
.shoppingcart-sec-decoration img {
  border-radius: 10px;
}
.purchase-order div {
  border-bottom: lightgray solid;
}
.purchase-order-total {
  text-align: right;
}
.favourite {
  text-align: center;
}
@media (max-width: 890px) and (min-width: 600px) {
  nav {
    display: none;
    position: fixed;
    top: 25px;
    right: 0%;
    z-index: 1000;
  }
  nav li {
    display: block;
    width: 120%;
  }
  nav a {
    display: block;
    background-color: #bfbfbf;
    font-size: 20px;
  }
  .hamburger-label {
    display: block;
    position: absolute;
    top: 10px;
    right: 20px;
  }
  #hamburger-menu:checked ~ nav {
    display: block;
  }
  #hamburger-menu {
    display: none;
  }

  .icons {
    border-radius: 30px;
    position: fixed;
    top: 90%;
    right: 0%;
    justify-content: center;
    margin: 0px auto;
    width: 100%;
    z-index: 1000;
  }
  .icons li {
    width: 100%;
    background-color: #65768c;
    padding: 20px 20px 40px 20px;
    display: flex;
  }

  .icons a {
    background-color: #e3edf7;
    box-shadow: 5px 5px 10px -1px rgba(0, 0, 0, 0.15), -5px -5px 10px -1px rgba(255, 255, 255, 0.17);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #0b3a40;
    padding: 15px 15px;
  }
  .home-icon {
    display: block;
  }
  .search-bar {
    position: absolute;
    top: 10px;
    right: 10%;
  }

  nav {
    display: none;
    position: fixed;
    top: 25px;
    width: 130%;
    z-index: 1000;
  }
  nav li {
    display: block;
  }
  nav a {
    display: block;
    background-color: #d9d9d9;
    box-shadow: 2px 2px #81f8b8;
    font-size: 20px;
    padding: 20px;
  }
  main {
    margin-bottom: 5px;
  }
  .section-featured {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
    column-gap: 10px;
    justify-items: center;
  }

  .company-offers {
    display: none;
  }

  .footer-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 70px;
  }

  /* specific-product */
  .pro-display {
    width: 90%;
    display: block;
    margin: 20px auto;
  }
  /* shoppingcart */
  .shoppingcart-style {
    display: block;
    margin-bottom: 10%;
  }
  .shoppingcart-sec-decoration {
    max-width: 90%;
    margin: 30px auto 0px auto;
  }
  .shoppingcart-shipment-elements {
    margin-bottom: 10px;
  }

  /* Delivery-Payment */
  .delivery {
    display: block;
  }
  .delivery-section {
    max-width: 80%;
    margin: 20px auto;
    padding: 10px;
    box-shadow: 0px 2px 2px 2px #81f8b8;
    border-radius: 5px;
  }
  .delivery-form {
    margin: 5px 20%;
  }

  .delivery-section textarea {
    width: 300px;
    margin: 10px 20%;
  }

  /* Purchase Success */
  .purchase-section {
    display: block;
  }
  /* Contact us */
  .contact-style {
    display: block;
    width: 90%;
    margin: 0px auto;
  }
  .contact-decoration {
    margin: 20px auto;
  }

  .map-image {
    width: 250px;
  }
  .paragraf {
    max-width: 1000px;
    position: absolute;
    text-align: center;
    top: 300px;
    left: 150px;
    font-size: 20px;
  }

  .footer-p {
    text-align: center;
  }
  footer ul {
    padding: 0px auto;
    line-height: 30px;
  }
  footer h2 {
    margin: 5px 25px;
  }
  #cta-button-id {
    margin: auto;
  }
  .copyright {
    margin: 0px 0px 20px 30px;
  }
}
@media (max-width: 599px) {
  header {
    display: flex;
    text-align: center;
    justify-content: space-around;
  }

  nav {
    display: none;
  }
  .hamburger-label {
    display: block;
    position: absolute;
    top: 10px;
    right: 20px;
  }
  #hamburger-menu:checked ~ nav {
    display: block;
  }
  .hamburger-label:active {
    color: #81f8b8;
  }
  #hamburger-menu {
    display: none;
  }

  .icons {
    border-radius: 30px;
    position: fixed;
    top: 91%;
    right: 0%;
    justify-content: center;
    margin: 0px auto;
    width: 100%;
    z-index: 1000;
  }
  .icons li {
    width: 100%;
    background-color: #65768c;
    padding: 10px 5px 40px 15px;
    display: flex;
    margin-bottom: 10px;
  }

  .icons a {
    background-color: #e3edf7;
    box-shadow: 5px 5px 10px -1px rgba(0, 0, 0, 0.2), -5px -5px 10px -1px rgba(255, 255, 255, 0.25);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #0b3a40;
    padding: 15px 15px;
  }
  .home-icon {
    display: block;
  }
  .search-bar {
    position: absolute;
    top: 10px;
    right: 15%;
    margin: 10px 10px;
    list-style-type: none;
    color: #0b3a40;
  }

  .cta-buy {
    width: 50px;
    min-height: 20px;
    position: relative;
    top: 5px;
    right: 20px;
  }
  nav {
    display: none;
    position: fixed;
    top: 25px;
    width: 130%;
    z-index: 1000;
  }
  nav li {
    display: block;
  }
  nav a {
    display: block;
    background-color: #d9d9d9;
    box-shadow: 2px 2px #81f8b8;
    font-size: 20px;
    padding: 20px;
  }
  main {
    margin-bottom: 0px;
  }
  .section-featured,
  .section-men,
  .section-women,
  .section-favorite {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    row-gap: 30px;
    column-gap: 10px;
    justify-items: center;
  }

  .featured-products {
    max-width: 150px;
    height: 255px;
    margin: 10px 0px;
    border-radius: 10px 10px;
    box-shadow: 2px 2px #81f8b8;
  }
  .featured-products-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .featured-products-detail {
    display: grid;
    grid-template-columns: 80% 20%;
    padding: 1px 8px 0px 10px;
  }
  .featured-products-detail h2,
  p {
    font-size: 13px;
  }
  .image1 {
    max-width: 150px;
    height: 200px;
    border-radius: 10px 10px 0px 0px;
  }
  .advert {
    display: block;
  }
  .company-offers {
    display: none;
  }

  .footer-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
  }
  /* specific-product */
  .pro-display {
    display: block;
    margin: 20px auto;
  }
  /* shoppingcart */
  .shoppingcart-style {
    display: block;

    margin-bottom: 20%;
  }
  .shoppingcart-style h1 {
    text-align: center;
  }
  .shoppingcart-sec-decoration {
    max-width: 90%;
    margin: 20px auto 0px auto;
  }
  .shoppingcart-elements {
    display: block;
    margin: 5px;
    text-align: center;
  }

  .remove-icon {
    padding: 0px;
  }
  /* Delivery-Payment */
  .delivery {
    display: block;
    margin-bottom: 20%;
  }
  .delivery-section textarea {
    width: 300px;
  }

  /* Purchase Success */
  .purchase-section {
    display: block;
  }
  /* Contact us */
  .contact-style {
    display: block;

    margin: 0px auto;
  }
  .contact-decoration {
    margin: 20px 0px;
  }
  .contact-decoration textarea,
  .contact-decoration input {
    width: 250px;
    margin: 0px auto;
  }

  .map-image {
    width: 250px;
  }
  .paragraf {
    max-width: 1000px;
    position: absolute;
    text-align: center;
    top: 300px;
    left: 150px;
    font-size: 20px;
  }

  .footer-p {
    text-align: center;
  }
  footer ul {
    padding: 0px auto;
    line-height: 30px;
  }
  footer h2 {
    margin: 5px 25px;
  }
  .copyright {
    margin: 0px 0px 20px 30px;
  }
}
